html,
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 1024px;
  height: 768px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: white;
  white-space: nowrap;
}

* {
  -webkit-overflow-scrolling: touch;
}

#board {
  margin-left: 10%;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;
  padding-right: 2%;
  -webkit-overflow-scrolling: touch;
}

.position {
  margin: 0 0 0 2%;
  padding-top: 2%;
  width: 30%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.position-title {
  text-align: center;
  width: 100%;
  height: 1.8em;
  text-transform: uppercase;
  background-color: #454545;
  margin: 0;
  font-size: 1.8em;
  line-height: 2em;
  color: white;
}

.playerCardWrapper {
  width: 100%;
  display: inline-block;
  list-style: none;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.playerCard {
  position: relative;
  overflow: visible;
  -webkit-transition: none !important;
  transition: none !important;
}
.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.slip-reordering {
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  overflow: visible;
}

.positionWrapper {
  width: 100%;
  height: 90%;
  overflow-x: visible;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.zscore {
  padding-right: 0.5px;
}

/* List CSS */

.lists {
  margin: 0 0 0 2%;
  padding-top: 2%;
  width: 30%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: #007a99;
}

.listCard {
  width: 100%;
  height: 10vh;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  position: relative;
  margin-top: 2%;
  background-color: white;
}

.listName {
  padding-left: 10px;
  vertical-align: middle;
}

@keyframes listHide {
  from {
      width: 30%;
  }
  to {
      width: 0%;
  }
}
@keyframes listShow {
  from {
      width: 0%;
  }
  to {
      width: 30%;
  }
}

.lists.ng-hide-add {
  animation: 0.3s listHide;
}

.lists.ng-hide-remove {
  animation: 0.3s listShow;
}