.playerCard {
  width: 100%;
  height: 10vh;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  position: relative;
  margin-top: 2%;
}

.status {
  float: left;
  width: 5%;
  height: 100%;
}

.offered {
  background-color: green;
}

.commited {
  background: purple;
}

.player {
  float: left;
  width: 50%;
  margin-left: 4%;
  height: 100%;
}

.avatar {
  height: 100%;
  width: 20%;
  float: left;
  background-position: center;
  background-size: auto 100%;
}

.player-info-outer {
  float: left;
  width: 50%;
  margin-left: 4%;
  height: 100%;
}

.player-info-outer:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em;
}

.player-info-inner {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

.player-info-name {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.player-info-stats {
  font-weight: lighter;
}

.zscore-wrapper {
  width: 20%;
  height: 100%;
  text-align: center;
  float: right;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.zscore-flex {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgb(120,207,66);
  display: -webkit-flex;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.zscore-flex:nth-child(2) {
  border-top: 1px solid grey;
}

.green {
  background-color: rgb(120,207,66);
}
.red {
  background-color: rgb(207,60,66);
}
.yellow {
  background-color: rgb(255,255,102);
}