/* Colors for Zscores */
.bright-green {
  background-color: #228B22;
  border-color: #228B22;
}
.green {
  background-color: #93c47d;
  border-color: #93c47d;
}
.light-green {
  background-color: #93c47d;
  border-color: #93c47d;
}
.light-red {
  background-color: pink;
  border-color: pink;
}
.red {
  background-color: #e06666;
  border-color: #e06666;
}
.bright-red {
  background-color: rgb(207,60,66);
  border-color: rgb(207,60,66);
}
.yellow {
  background-color: rgb(255,255,102);
  border-color: rgb(255,255,102);
}

.playerCard {
  width: 100%;
  height: 10vh;
  border: 1px solid grey;
  position: relative;
  margin-top: 2%;
  background-color: white;
  cursor: pointer;
}

.status {
  float: left;
  width: 5%;
  height: 100%;
}

.offered {
  background-color: green;
}

.commited {
  background: purple;
}

.player {
  float: left;
  width: 50%;
  margin-left: 4%;
  height: 100%;
}

.avatar {
  height: 100%;
  width: 20%;
  float: left;
  background-position: center;
  background-size: auto 100%;
}

.player-info-outer {
  float: left;
  width: 50%;
  margin-left: 4%;
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.player-info-outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.player-info-inner {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

.player-info-name {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.player-info-stats {
  font-weight: lighter;
}

.zscore-wrapper {
  width: 20%;
  height: 100%;
  text-align: center;
  float: right;
  display: flex;
  flex-direction: column;
}

.zscore-flex {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.zscore-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 8;
  border-style: solid;
  border-width: 0 4vh 4vh 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: transparent;
}

/*.profile-status.editable-click, .profile-status.a.editable-click {
  color:inherit;
}*/
.editable-click, a.editable-click {
  color:inherit;
  text-decoration: underline;
  border-bottom:none;
}
