html,
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 1024px;
  height: 768px;
  overflow: auto;
}

tr,
td {
  padding: 0 2em .5em 0;
}

#resultlist {
  height: 100%;
  width: 30%;
  margin-left: 10%;
  border-right: 1px solid grey;
  float: left;
  display: inline-block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


/* Override style in player_card.css */

.playerCard {
  margin-top: 0;
  border-width: 0;
  border-bottom-width: 1px;
}

#profile {
  height: 100%;
  width: 60%;
  float: left;
}

#topcard {
  height: 40%;
  width: 100%;
  padding: 3%;
}

#image-box {
  height: 80%;
  width: 30%;
  float: left;
}

#profile-image {
  height: 85%;
  width: 100%;
}

#profile-status {
  height: 15%;
  text-align: center;
  line-height: 250%;
  background: purple;
  color: white;
}

#glanceinfo {
  position: relative;
  height: 70%;
  width: 70%;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 0 0 2% 3%;
  float: left;
}

#name {
  font-weight: bold;
  font-size: 1.7em;
  margin-bottom: 3%;
}

#profileZscore {
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  /*background-color: rgb(120, 207, 66);*/
  text-align: center;
  margin: 0 1% 0 0;
}

#offer-summary {
  width: 100%;
  margin: 8px 0 0 0;
  overflow-x: scroll;
  white-space: nowrap;
  float: left;
  -webkit-overflow-scrolling: touch;
}

.offer-icon {
  width: 3em;
  height: 3em;
  background-color: blue;
  display: inline-block;
  margin: 8px 0;
  vertical-align: top;
}

#profile-tabs {
  margin: 0 3%;
}

.summary {
  width: 50%;
  float: left;
  padding: 2%;
}

.popover {
  width: 35vw;
  max-width: 100vw;
}