#sidebar {
  display: table;
  position: fixed;
  z-index: 9;
  height: 100%;
  width: 10%;
  float: left;
  background: url('../img/dark_texture.png') repeat-y bottom;
}

.sidebar-icon {
  margin: 10% 0;
  text-align: center;
  color: white;
}

#sidebar-upper {
  position: absolute;
  width: 100%;
}

#sidebar-middle {
  display: table-cell;
  vertical-align: middle;
}


#sidebar-field {
  position: relative;
  width: 100%;
}