<!DOCTYPE html>
<html ng-app="zcruit">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.5/angular-touch.min.js"></script>
  <link href='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css' type='text/css' rel='stylesheet'>
  <script src='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js'></script>
  <script src='../lib/lodash.js'></script>
  <script src='../lib/angularjs-dropdown-multiselect.js'></script>
  <script src='../lib/xeditable.js'></script>
  <link href='../lib/xeditable.css' rel='stylesheet'>
  <script src="../zcruit.js"></script>
  <script src="../controllers/bigBoardController.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="../css/player_card.css">
  <link rel="stylesheet" type="text/css" href="../css/big_board.css">
</head>

<body ng-controller="bigBoardController">
  <div id="sidebar">
    <div id="sidebar-field" ng-click="openSearchProfile();">
      <div class="sidebar-icon">
        <img src="../img/search.png">
        <div>Search</div>
      </div>
    </div>
    <br>
    <div id="sidebar-field">
      <div class="sidebar-icon">
        <!--Icon made by Freepik from flaticon.com is licensed by CC 3.0 BY-->
        <img src="../img/calendar.png">
        <div>Pick year</div>
      </div>
    </div>
    <br>
    <div id="sidebar-field">
      <div class="sidebar-icon">
        <!--Icon made by Freepik from flaticon.com is licensed by CC 3.0 BY-->
        <img src="../img/star.png">
        <div>My Favorites</div>
      </div>
    </div>
    <br>
    <div id="sidebar-field" ng-click="openMyLists();">
      <div class="sidebar-icon">
        <!--Icon made by Freepik from flaticon.com is licensed by CC 3.0 BY-->
        <img src="../img/note.png">
        <div>My Lists</div>
      </div>
    </div>
  </div>

  <div id="board">

    <div class="lists" ng-show="showLists">
      <h1 class="position-title">My Lists</h1>
      <div class='positionWrapper'>
        <div class='playerCardWrapper'>
          <div class="listCard" ng-click="openList(lst);" ng-repeat="lst in myLists">
            <h2 class="listName">{{lst.List_name}}</h2>
          </div>
        </div>
      </div>
    </div>  

    <div class="position" ng-repeat="pos in positions">
      <h1 class="position-title">{{pos.Position_name}}</h1>
      <div class='positionWrapper'>
        <div class='playerCardWrapper'>
          <div class="playerCard" ng-repeat="p in players| filter: {'Position_name' : pos.Position_name} | orderBy: 'Position_rank' " ng-class="(p.Player_id==selected.Player_id) ? 'selected_player' : ''" ng-click="setSelectedPlayer(p); toggleSelect(p);">
            <div class="status offered"></div>
            <div class="avatar" ng-style="{'background-image': 'url(' + p.Img_url + ')'}"></div>
            <div class="player-info-outer">
              <div class="player-info-inner">
                <div class="player-info-name">{{p.FirstName}} {{p.LastName}}</div>
                <div class="player-info-stats">{{p.Position_name}} - {{height(p.Height, 1)}}'{{height(p.Height, 2)}}" {{p.Weight}}lb</div>
                <div class="player-info-coach">{{p.HS_city}}, {{p.HS_state}} - {{initials(p.Coach_name)}}</div>
              </div>
            </div>
            <div class="zscore-wrapper">
              <div class="zscore-flex" ng-class="zscoreColor(p.Zscore)">{{p.Zscore}}</div>
              <div class="zscore-corner" ng-class="zscoreColor(p.Zscore2)" ng-if="p.Visits < 2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="profile" ng-model="selected" ng-show="toggleSelectVar">
    <div ng-show="noResult">
      <h2 style="text-align: center;">No Results</h2>
    </div>

    <div id="topcard">
      <div id="image-box" ng-hide="noResult">
        <div id="profile-image" ng-style="{'background-image': 'url(' + selected.Img_url + ')'}"></div>
        <div id="profile-status" ng-class="statusColor(selected.NU_status)">{{statusText(selected.NU_status)}}</div>
      </div>

      <div id="glanceinfo" ng-hide="noResult">

        <div id="name">
          {{selected.FirstName}} {{selected.LastName}}
          <div id="profile-zscore-wrapper" class="popover-trigger"
            uib-popover-template='"zscore_popover.html"'
            popover-title="Zcruit Score"
            popover-placement="left-top"
            popover-trigger="outsideClick">
            <div id="visits-remaining" ng-if="zscoreWillGrow(selected)">{{2 - selected.Visits}} visit{{selected.Visits == 0 ? 's' : ''}} to raise</div>
            <div ng-class="['profile-zscore', zscoreColor(selected.Zscore), {'double-zscore-left': zscoreWillGrow(selected)}]">{{selected.Zscore}}</div>
            <div ng-if="zscoreWillGrow(selected)" ng-class="['profile-zscore', zscoreColor(selected.Zscore2), {'double-zscore-right': zscoreWillGrow(selected)}]">{{selected.Zscore2}}</div>
          </div>
        </div>

        <div class="summary" ng-hide="noResult">
          <p>{{selected.Position_name}}</p>
          <p><a href='#' editable-text='selected.Feet' onaftersave='updateData("Players","Height",selected.Feet)'>{{selected.Feet}}</a>'<a href='#' editable-text='selected.Inches' onaftersave='updateData("Players","Height",selected.Inches)'>{{selected.Inches}}"</a>, <a href='#' editable-text='selected.Weight' onaftersave='updateData("Players","Weight",selected.Weight)'>{{selected.Weight}} </a>lb</p>
          <p>Year: {{selected.Year}}</p>
          <p>Coach: {{selected.Coach_name}}</p>
        </div>

        <div class="summary" ng-hide="noResult">
          <p>Uniform #: 18</p>
          <p>{{selected.HS_name}}</p>
          <p>{{selected.HS_city}}, {{selected.HS_state}}</p>
        </div>

        <div class="btn-group" uib-dropdown ng-hide="noResult">
          <button id="single-button" class="btn btn-primary popover-trigger"
            type="button"
            uib-dropdown-toggle
            uib-popover-template='"new_list_popover.html"'
            popover-placement="left"
            popover-title="New List"
            popover-trigger="none"
            popover-is-open="newListPopoverIsOpen">
            Add to list <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-repeat="list in savedLists" ng-click="savePlayer(selected, list)"><a href="#">{{list.List_name}}</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-click="newListPopoverIsOpen = true"><a href="#">New list</a></li>
          </ul>
        </div>
      </div>

      <!-- Be careful here - how are multiple offers displaying  -->
      <div id="offer-summary" ng-hide="noResult">
        <img class="offer-icon" ng-repeat="school in selected.offers track by school.id" ng-src="{{school.img_path}}">
      </div>
    </div>

    <uib-tabset id="profile-tabs" justified="true" ng-hide="noResult">
      <uib-tab index="0" heading="Bio">
        <div id="bio" class="tab row">
          <div class="col-md-6">
            <div class="info-section">
              <h4>Contact Information</h4>
              <table class="info-table">
                <tr>
                  <td>Phone</td>
                  <td><a href='#' editable-tel='selected.Phone' e-pattern="\d{10}" e-title="10 digit phone number" onaftersave='updateData("Players","Phone",selected.Phone)'>{{phoneFormat(selected.Phone)}}</a></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href='#' editable-email='selected.Email' onaftersave='updateData("Players","Email",selected.Email)'><span class="info-long">{{selected.Email}}</span></a></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td><a href='#' editable-text='selected.Address' onaftersave='updateData("Players","Address",selected.Address)'>{{selected.Address}}</a>
                  <br><a href='#' editable-text='selected.Hometown_city' onaftersave='updateData("Players","Hometown_city",selected.Hometown_city)'>{{selected.Hometown_city}}</a>, <a href='#' editable-text='selected.Hometown_state' onaftersave='updateData("Players","Hometown_state",selected.Hometown_state)'>{{selected.Hometown_state}} </a><a href='#' editable-text='selected.Hometown_zip' onaftersave='updateData("Players","Hometown_zip",selected.Hometown_zip)'>{{selected.Hometown_zip}}</a></td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>High School</h4>
              <table class="info-table">
                <tr>
                  <td>Name</td>
                  <td>{{selected.HS_name}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>{{selected.HS_city}}, {{selected.HS_state}} {{selected.HS_zip}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{phoneFormat(selected.HS_phone)}}</td>
                </tr>
                <tr>
                  <td>GPA</td>
                  <td><a href='#' editable-text='selected.GPA' onaftersave='updateData("Players","GPA",selected.GPA)'>{{selected.GPA}}</a></td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>Connections</h4>
              <p ng-if="selected.connections.length == 0">No connections</p>
              <ul ng-if="selected.connections.length > 0">
                <li ng-repeat="c in selected.connections">{{c}}</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-section">
              <h4>Family</h4>
              <table class="info-table">
                <tr>
                  <td>Parent 1</td>
                  <td><a href='#' editable-text='selected.Parent1' onaftersave='updateData("Players","Parent1",selected.Parent1)'>{{selected.Parent1}}</a></td>
                </tr>
                <tr>
                  <td>Parent 2</td>
                  <td><a href='#' editable-text='selected.Parent2' onaftersave='updateData("Players","Parent2",selected.Parent2)'>{{selected.Parent2}}</a></td>
                </tr>
                <tr>
                  <td>Home</td>
                  <td><a href='#' editable-text='selected.Hometown_city' onaftersave='updateData("Players","Hometown_city",selected.Hometown_city)'>{{selected.Hometown_city}}</a>, <a href='#' editable-text='selected.Hometown_state' onaftersave='updateData("Players","Hometown_state",selected.Hometown_state)'>{{selected.Hometown_state}}</a></td>
                </tr>
                <tr>
                  <td>SES</td>
                  <td>{{selected.SES}}</td>
                </tr>
                <tr>
                  <td>Education</td>
                  <td>{{selected.Parental_education}}</td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>Visits</h4>
              <p ng-if="selected.Visits == 0 && selected.Visits_overnight == '0' && selected.Attended_camp == '0'">No visits</p>
              <table class="table table-condensed" ng-if="selected.Visits > 0 || selected.Visits_overnight != '0' || selected.Attended_camp != '0'">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="selected.Visits_overnight == '1'">
                    <td>5/26/2016</td>
                    <td>Overnight</td>
                  </tr>
                  <tr ng-if="selected.Attended_camp == '1'">
                    <td>5/24/2016</td>
                    <td>Camp</td>
                  </tr>
                  <tr ng-repeat="i in _.range(selected.Visits) track by $index">
                    <td>5/{{1 + i*6}}/2016</td>
                    <td>Regular</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Stats">
        Short Labeled Justified content
      </uib-tab>
      <uib-tab index="2" heading="Media">
        Long Labeled Justified content
      </uib-tab>
      <uib-tab index="3" heading="Notes">
        Long Labeled Justified content
      </uib-tab>
    </uib-tabset>
  </div>

</body>
</html>
