<!DOCTYPE html>
<html ng-app="zcruit">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.3/angular-touch.min.js"></script>
  <link href='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css' type='text/css' rel='stylesheet'>
  <script src='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src='../lib/lodash.js'></script>
  <script src='../lib/angularjs-dropdown-multiselect.js'></script>
  <script src='../lib/xeditable.js'></script>
  <link href='../lib/xeditable.css' rel='stylesheet'>
  <script src="../zcruit.js"></script>
  <script src="../controllers/searchController.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/player_card.css" rel="stylesheet">
  <link href="../css/sidebar.css" rel="stylesheet">
  <link href="../css/search_profile.css" rel="stylesheet">
</head>

<body ng-controller="searchController">
  <div id="sidebar">
    <div id="sidebar-upper" ng-click="openBigBoard()">
      <div class="sidebar-icon">
        <img src="../img/big_board.png">
        <div>Big Board</div>
      </div>
    </div>

    <div id="sidebar-middle">
      <div class="sidebar-icon" ng-click="openSearchModal()">
        <img src="../img/search.png">
        <div>Search</div>
      </div>
      <div id="new-saved-search-icon" class="sidebar-icon popover-trigger"
          uib-popover-template='"new_saved_search_popover.html"'
          popover-title="New saved search"
          popover-placement="right"
          popover-trigger="outsideClick"
          popover-is-open="showNewSavedSearchPopover">
        <img src="../img/save.png">
        <div>Save search</div>
      </div>
      <div class="sidebar-icon popover-trigger"
          uib-popover-template='"saved_search_popover.html"'
          popover-title="Saved searches"
          popover-placement="right"
          popover-trigger="outsideClick"
          popover-is-open="showSavedSearchPopover">
        <img src="../img/saved-search-2.png">
        <div>Saved<br>searches</div>
      </div>
      <div class="sidebar-icon popover-trigger"
          uib-popover-template='"lists_popover.html"'
          popover-title="Lists"
          popover-placement="right"
          popover-trigger="outsideClick"
          popover-is-open="showListsPopover">
        <img src="../img/user-list-2.png">
        <div>Lists</div>
      </div>
    </div>
  </div>

  <div id="resultlist">
    <div id="result-header">
      <div id="result-header-display"><span ng-show="resultTitle != ''">{{resultTitle}}</span></div>
      <div id="result-header-clear" ng-show="resultClearable" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove-sign"></span></div>
    </div>

    <div class="playerCard" ng-class="(p.Player_id==selected.Player_id) ? 'selected_player' : ''" ng-repeat="p in players track by p.Player_id" ng-click="setSelectedPlayer(p)">
			<div class="status" ng-class="statusColor(p.NU_status)"></div>
      <div class="avatar" ng-style="{'background-image': 'url(' + p.Img_url + ')'}"></div>
			<div class="player-info-outer">
			  <div class="player-info-inner">
  				<div class="player-info-name">{{p.FirstName}} {{p.LastName}}</div>
  				<div class="player-info-stats">{{p.Position_name}} - {{p.Feet}}' {{p.Inches}}" {{p.Weight}}lb</div>
  				<div class="player-info-coach">{{p.HS_city}}, {{p.HS_state}} - {{initials(p.Coach_name)}}</div>
        </div>
			</div>
      <div class="zscore-wrapper">
      	<div class="zscore-flex" ng-class="zscoreColor(p.Zscore)">{{p.Zscore}}</div>
        <div class="zscore-corner" ng-class="zscoreColor(p.Zscore2)" ng-if="zscoreWillGrow(p)"></div>
      </div>
		</div>
  </div>

  <div id="profile" ng-model="selected">
    <div ng-show="noResult">
      <h2 style="text-align: center;">No Results</h2>
    </div>

    <div id="topcard">
      <div id="image-box" ng-hide="noResult">
        <div id="profile-image" ng-style="{'background-image': 'url(' + selected.Img_url + ')'}"></div>
        <div id="profile-status" ng-class="statusColor(selected.NU_status)">{{statusText(selected.NU_status)}}</div>
      </div>

      <div id="glanceinfo" ng-hide="noResult">

        <div id="name">
          {{selected.FirstName}} {{selected.LastName}}
          <div id="profile-zscore-wrapper" class="popover-trigger"
            uib-popover-template='"zscore_popover.html"'
            popover-title="Zcruit Score"
            popover-placement="left-top"
            popover-trigger="outsideClick">
            <div id="visits-remaining" ng-if="zscoreWillGrow(selected)">{{2 - selected.Visits}} visit{{selected.Visits == 0 ? 's' : ''}} to raise</div>
            <div ng-class="['profile-zscore', zscoreColor(selected.Zscore), {'double-zscore-left': zscoreWillGrow(selected)}]">{{selected.Zscore}}</div>
            <div ng-if="zscoreWillGrow(selected)" ng-class="['profile-zscore', zscoreColor(selected.Zscore2), {'double-zscore-right': zscoreWillGrow(selected)}]">{{selected.Zscore2}}</div>
          </div>
        </div>

        <div class="summary" ng-hide="noResult">
          <p>{{selected.Position_name}}</p>
          <p><a href='#' editable-text='selected.Feet' onaftersave='updateData("Players","Height",selected.Feet)'>{{selected.Feet}}</a>'<a href='#' editable-text='selected.Inches' onaftersave='updateData("Players","Height",selected.Inches)'>{{selected.Inches}}"</a>, <a href='#' editable-text='selected.Weight' onaftersave='updateData("Players","Weight",selected.Weight)'>{{selected.Weight}} </a>lb</p>
          <p>Year: {{selected.Year}}</p>
          <p>Coach: {{selected.Coach_name}}</p>
        </div>

        <div class="summary" ng-hide="noResult">
          <p>Uniform #: 18</p>
          <p>{{selected.HS_name}}</p>
          <p>{{selected.HS_city}}, {{selected.HS_state}}</p>
        </div>

          <div class="form-group row">
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="selected.listData" selected-model="selected.listModel" extra-settings="settings_dropdown" events="{onItemSelect: onListSelect, onItemDeselect: onListDeselect };"></div>
            </div>
            <div class="col-sm-5">
            </div>
          </div>

      </div>

      <!-- Be careful here - how are multiple offers displaying  -->
      <div id="offer-summary" ng-hide="noResult">
        <img class="offer-icon" ng-repeat="school in selected.offers track by school.id" ng-src="{{school.img_path}}">
      </div>
    </div>

    <uib-tabset id="profile-tabs" justified="true" ng-hide="noResult">
      <uib-tab index="0" heading="Bio">
        <div id="bio" class="tab row">
          <div class="col-md-6">
            <div class="info-section">
              <h4>Contact Information</h4>
              <table class="info-table">
                <tr>
                  <td>Phone</td>
                  <td><a href='#' editable-tel='selected.Phone' e-pattern="\d{10}" e-title="10 digit phone number" onaftersave='updateData("Players","Phone",selected.Phone)'>{{phoneFormat(selected.Phone)}}</a></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><a href='#' editable-email='selected.Email' onaftersave='updateData("Players","Email",selected.Email)'><span class="info-long">{{selected.Email}}</span></a></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td><a href='#' editable-text='selected.Address' onaftersave='updateData("Players","Address",selected.Address)'>{{selected.Address}}</a>
                  <br><a href='#' editable-text='selected.Hometown_city' onaftersave='updateData("Players","Hometown_city",selected.Hometown_city)'>{{selected.Hometown_city}}</a>, <a href='#' editable-text='selected.Hometown_state' onaftersave='updateData("Players","Hometown_state",selected.Hometown_state)'>{{selected.Hometown_state}} </a><a href='#' editable-text='selected.Hometown_zip' onaftersave='updateData("Players","Hometown_zip",selected.Hometown_zip)'>{{selected.Hometown_zip}}</a></td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>High School</h4>
              <table class="info-table">
                <tr>
                  <td>Name</td>
                  <td>{{selected.HS_name}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>{{selected.HS_city}}, {{selected.HS_state}} {{selected.HS_zip}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{phoneFormat(selected.HS_phone)}}</td>
                </tr>
                <tr>
                  <td>GPA</td>
                  <td><a href='#' editable-text='selected.GPA' onaftersave='updateData("Players","GPA",selected.GPA)'>{{selected.GPA}}</a></td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>Connections</h4>
              <p ng-if="selected.connections.length == 0">No connections</p>
              <ul ng-if="selected.connections.length > 0">
                <li ng-repeat="c in selected.connections">{{c}}</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info-section">
              <h4>Family</h4>
              <table class="info-table">
                <tr>
                  <td>Parent 1</td>
                  <td><a href='#' editable-text='selected.Parent1' onaftersave='updateData("Players","Parent1",selected.Parent1)'>{{selected.Parent1}}</a></td>
                </tr>
                <tr>
                  <td>Parent 2</td>
                  <td><a href='#' editable-text='selected.Parent2' onaftersave='updateData("Players","Parent2",selected.Parent2)'>{{selected.Parent2}}</a></td>
                </tr>
                <tr>
                  <td>Home</td>
                  <td><a href='#' editable-text='selected.Hometown_city' onaftersave='updateData("Players","Hometown_city",selected.Hometown_city)'>{{selected.Hometown_city}}</a>, <a href='#' editable-text='selected.Hometown_state' onaftersave='updateData("Players","Hometown_state",selected.Hometown_state)'>{{selected.Hometown_state}}</a></td>
                </tr>
                <tr>
                  <td>SES</td>
                  <td>{{selected.SES}}</td>
                </tr>
                <tr>
                  <td>Education</td>
                  <td>{{selected.Parental_education}}</td>
                </tr>
              </table>
            </div>

            <div class="info-section">
              <h4>Visits</h4>
              <p ng-if="selected.Visits == 0 && selected.Visits_overnight == '0' && selected.Attended_camp == '0'">No visits</p>
              <table class="table table-condensed" ng-if="selected.Visits > 0 || selected.Visits_overnight != '0' || selected.Attended_camp != '0'">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="selected.Visits_overnight == '1'">
                    <td>5/26/2016</td>
                    <td>Overnight</td>
                  </tr>
                  <tr ng-if="selected.Attended_camp == '1'">
                    <td>5/24/2016</td>
                    <td>Camp</td>
                  </tr>
                  <tr ng-repeat="i in _.range(selected.Visits) track by $index">
                    <td>5/{{1 + i*6}}/2016</td>
                    <td>Regular</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Stats">
        Short Labeled Justified content
      </uib-tab>
      <uib-tab index="2" heading="Media">
        Long Labeled Justified content
      </uib-tab>
      <uib-tab index="3" heading="Notes">
        <h4>Notes</h4>
          <input id='new_note_input' type='text' class='note-input form-control' ng-model='newNotePrompt' ng-click='onTextClick($event)'> <div class='btn btn-primary note-add-button' ng-click='addNote(newNotePrompt)'>Add note</div>
          <div class="note-panel panel panel-default" ng-repeat="note in selected.notes | orderBy : -date">
            <div class="panel-body">
              {{note.txt}}
            </div>
            <div class="panel-footer">{{note.c}} @ {{note.date}}</div>
          </div>
      </uib-tab>
    </uib-tabset>
  </div>

<!-- Handle the Modal Popup -->
<div style="visibility: hidden">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Player search</h3>
        </div>
        <div class="modal-body">

        <form>
          <div class="form-group row">
            <label class="col-sm-1 form-control-label">First Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model='firstName' placeholder="John">
            </div>

            <label class="col-sm-1 form-control-label">Last Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model='lastName' placeholder="Smith">
            </div>
          </div>

          <div class='form group row'>
            <label class="col-sm-2 form-control-label">Z-Score</label>
            <div class='col-sm-5'>
            <rzslider rz-slider-model="zscoreSlider.minValue" rz-slider-high="zscoreSlider.maxValue" rz-slider-options="zscoreSlider.options"></rzslider>
            <br><br>
            <input type="checkbox" ng-model="checkboxModel.includePredicted">
            <label>Include projected Z-Score</label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="statusData" selected-model="statusModel"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Position</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="positionData" selected-model="positionModel" extra-settings="settings_dropdown"></div>
            </div>
            <div class="col-sm-5">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Year</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="yearData" selected-model="yearModel"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">State</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="stateData" selected-model="stateModel" extra-settings="settings_dropdown"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Area Coach</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="coachData" selected-model="coachModel"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">High School</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model='highSchool' placeholder="High School">
            </div>
          </div>

        <div ng-show="advancedFilters">
         <div class='form group row'>
            <label class="col-sm-2 form-control-label">Height</label>
            <rzslider class='col-sm-5' rz-slider-model="heightSlider.minValue" rz-slider-high="heightSlider.maxValue" rz-slider-options="heightSlider.options"></rzslider>
          </div>

        <div class='form group row'>
            <label class="col-sm-2 form-control-label">Weight</label>
            <rzslider class='col-sm-5' rz-slider-model="weightSlider.minValue" rz-slider-high="weightSlider.maxValue" rz-slider-options="weightSlider.options"></rzslider>
          </div>

        <div class='form group row'>
            <label class="col-sm-2 form-control-label">GPA</label>
            <rzslider class='col-sm-5' rz-slider-model="gpaSlider.minValue" rz-slider-high="gpaSlider.maxValue" rz-slider-options="gpaSlider.options"></rzslider>
          </div>
        </div>

        </form>
        </div>
        <div class="modal-footer">
            <button id="advancedFiltersButton" style="float: left;" class="btn btn-info" type="button" ng-click="showAdvancedFilters()">
                <span ng-show="advancedFilters">Hide</span>
                <span ng-show="!advancedFilters">Show</span>
                Advanced Filters
            </button>
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

</body>

</html>
