<!DOCTYPE html>
<html ng-app="zcruit">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.3/angular-touch.min.js"></script>
  <link href='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css' type='text/css' rel='stylesheet'>
  <script src='https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js'></script>
  <script src='../lib/lodash.js'></script>
  <script src='../lib/angularjs-dropdown-multiselect.js'></script>
  <script src="../zcruit.js"></script>
  <script src="../controllers/searchController.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/player_card.css" rel="stylesheet">
  <link href="../css/sidebar.css" rel="stylesheet">
  <link href="../css/search_profile.css" rel="stylesheet">
</head>

<body ng-controller="searchController">
  <div id="sidebar">
    <div id="sidebar-upper" ng-click="openBigBoard()">
      <div class="sidebar-icon">
        <img src="../img/big_board.png">
        <div>Big Board</div>
      </div>
    </div>

    <div id="sidebar-middle">
      <div class="sidebar-icon" ng-click="openSearchModal()">
        <img src="../img/search.png">
        <div>Search</div>
      </div>
      <div class="sidebar-icon">
        <img src="../img/sort.png">
        <div>Sort</div>
      </div>
      <div class="sidebar-icon">
        <img src="../img/save.png">
        <div>Save list</div>
      </div>
    </div>
  </div>
  <div id="resultlist">
    <div class="playerCard" ng-repeat="p in players" ng-click="setSelectedPlayer(p)">
			<div class="status offered"></div>
		  <div class="avatar" style="background-image: url('../img/thorson.jpg');"></div>
			<div class="player">
			  <div class="playerInfo">
  				<div class="playerInfoName">{{p.FirstName}} {{p.LastName}}</div>
  				<div class="playerInfoStats">QB - {{p.Height_feet}}'{{p.Height_inches}}" {{p.Weight}}lb</div>
  				<div class="playerInfoCoach">{{p.HS_city}}, {{p.HS_state}} - {{initials(p.Coach_name)}}</div>
        </div>
			</div>
      <div class="zscore">
      	<div class="zscore_full"
      	ng-class="{red: p.Zscore < 5.5, yellow: (p.Zscore < 8.5 && p.Zscore >= 5.5), green: p.Zscore >=8.5}">{{p.Zscore}}</div>
      </div>
		</div>
  </div>
  <div id="profile" ng-model="selected">
    <div id="topcard">
      <div id="image-box">
        <img id="profile-image" src="https://placeholdit.imgix.net/~text?txtsize=47&txt=500%C3%97500&w=500&h=500">
        <div id="profile-status">Committed</div>
      </div>

      <div id="glanceinfo">
        <div id="name">
          {{selected.FirstName}} {{selected.LastName}}
          <div id="profileZscore"
            uib-popover-template='zscorePopover.templateUrl'
            popover-title="{{zscorePopover.title}}"
            popover-placement="bottom-right"
            popover-trigger="outsideClick"
            ng-class="{red: selected.Zscore < 5.5, yellow: (selected.Zscore < 8.5 && selected.Zscore >= 5.5), green: selected.Zscore >=8.5}">
            {{selected.Zscore}}
          </div>
        </div>

        <div class="summary">
          <p>QB</p>
          <p>{{height(selected.Height, 1)}}'{{height(selected.Height, 2)}}", {{selected.Weight}}lb.</p>
          <p>Year: {{selected.Year}}</p>
          <p>Coach: {{selected.Coach_name}}</p>
        </div>

        <div class="summary">
          <p>Uniform #: 18</p>
          <p>Wheaton North</p>
          <p>Wheaton, IL</p>
        </div>

        <div class="btn-group" uib-dropdown>
          <button id="single-button" class="btn btn-primary"
            type="button"
            uib-dropdown-toggle
            uib-popover-template="newListPopover.templateUrl"
            popover-placement="left"
            popover-title="{{newListPopover.title}}"
            popover-trigger="none"
            popover-is-open="newListPopoverIsOpen">
            Add to list <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-repeat="list in savedLists" ng-click="savePlayer(selected, list)"><a href="#">{{list.List_name}}</a></li>
            <li class="divider"></li>
            <li role="menuitem" ng-click="newListPopoverIsOpen = true"><a href="#">New list</a></li>
          </ul>
        </div>
      </div>

      <div id="offer-summary" ng-repeat="offer_url in selected.offers" >
        <img class="offer-icon" src="{{offer_url}}">
        <!-- <img class="offer-icon" src="../img/college_logos/Northwestern.gif">
        <img class="offer-icon" src="../img/college_logos/Duke.gif">
        <img class="offer-icon" src="../img/college_logos/Alabama.gif">
        <img class="offer-icon" src="../img/college_logos/Michigan.gif">
        <img class="offer-icon" src="../img/college_logos/Notre Dame.gif">
        <img class="offer-icon" src="../img/college_logos/Purdue.gif">
        <img class="offer-icon" src="../img/college_logos/Robert Morris.gif">
        <img class="offer-icon" src="../img/college_logos/Tulane.gif">
        <img class="offer-icon" src="../img/college_logos/Texas A&M.gif">
        <img class="offer-icon" src="../img/college_logos/Towson.gif">
        <img class="offer-icon" src="../img/college_logos/UC Davis.gif">
        <img class="offer-icon" src="../img/college_logos/Vanderbilt.gif">
        <img class="offer-icon" src="../img/college_logos/Miami.gif">
        <img class="offer-icon" src="../img/college_logos/Navy.gif"> -->
      </div>
    </div>

    <uib-tabset id="profile-tabs" activeloelwfoeow="activeJustified" justified="true">
      <uib-tab index="0" heading="Bio">
        <div id="bio" class="tab">
          <div class="summary">
            <h4>Contact Information</h4>
            <table>
              <tr>
                <td>Phone: </td>
                <td>{{phoneFormat(selected.Phone)}}</td>
              </tr>
              <tr>
                <td>Email: </td>
                <td>{{selected.Email}}</td>
              </tr>
              <tr>
                <td>Address: </td>
                <td>{{selected.Address}}
                  <br>{{selected.Hometown_city}}, {{selected.Hometown_state}} {{selected.Hometown_zip}}</td>
              </tr>
            </table>
          </div>

          <div class="summary">
            <h4>High School</h4>
            <table>
              <tr>
                <td>Name: </td>
                <td>{{selected.HS_name}}</td>
              </tr>
              <tr>
                <td>Positions: </td>
                <td>QB, RB</td>
              </tr>
              <tr>
                <td>GPA: </td>
                <td>{{selected.GPA}}</td>
              </tr>
              <tr>
                <td>Record: </td>
                <td>10-2</td>
              </tr>
            </table>
          </div>

          <div class="summary">
            <h4>Family</h4>
            <table>
              <tr>
                <td>Parent 1: </td>
                <td>{{selected.Parent1}}</td>
              </tr>
              <tr>
                <td>Parent 2: </td>
                <td>{{selected.Parent2}}</td>
              </tr>
              <tr>
                <td>Home: </td>
                <td>{{selected.Hometown_city}}, {{selected.Hometown_state}}</td>
              </tr>
              <tr>
                <td>SES: </td>
                <td>Middle</td>
              </tr>
            </table>
          </div>

          <div class="summary">
            <h4>Connections</h4>
            <table>
              <tr>
                <td>Legacy: </td>
                <td>{{boolToText(selected.Legacy)}}</td>
              </tr>
              <tr>
                <td>Sibling: </td>
                <td>No</td>
              </tr>
              <tr>
                <td>Other: </td>
                <td>N/A</td>
              </tr>
            </table>
          </div>

        </div>
      </uib-tab>
      <uib-tab index="1" heading="Stats">
        Short Labeled Justified content
      </uib-tab>
      <uib-tab index="2" heading="Media">
        Long Labeled Justified content
      </uib-tab>
      <uib-tab index="3" heading="Notes">
        Long Labeled Justified content
      </uib-tab>
    </uib-tabset>
  </div>

<!-- Handle the Modal Popup -->
<div style="visibility: hidden">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Player search</h3>
        </div>
        <div class="modal-body">

        <form>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">First Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model='firstName' placeholder="John">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Last Name</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model='lastName' placeholder="Smith">
            </div>
          </div>

          <div class='form group row'>
            <label class="col-sm-2 form-control-label">Zcruit score</label>
            <rzslider class='col-sm-5' rz-slider-model="zscoreSlider.minValue" rz-slider-high="zscoreSlider.maxValue" rz-slider-options="zscoreSlider.options"></rzslider>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="statusData" selected-model="statusModel" extra-settings="settings_dropdown"></div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Position</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="positionData" selected-model="positionModel" extra-settings="settings_dropdown"></div>
            </div>
            <div class="col-sm-5">
              {{positionModel}}
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Year</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="yearData" selected-model="yearModel" extra-settings="settings_dropdown"></div>
            </div>
          </div>
         <div class='form group row'>
            <label class="col-sm-2 form-control-label">Height</label>
            <rzslider class='col-sm-5' rz-slider-model="heightSlider.minValue" rz-slider-high="heightSlider.maxValue" rz-slider-options="heightSlider.options"></rzslider>
          </div>

        <div class='form group row'>
            <label class="col-sm-2 form-control-label">Weight</label>
            <rzslider class='col-sm-5' rz-slider-model="weightSlider.minValue" rz-slider-high="weightSlider.maxValue" rz-slider-options="weightSlider.options"></rzslider>
          </div>

         <div class="form-group row">
            <label class="col-sm-2 form-control-label">State</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="stateData" selected-model="stateModel" extra-settings="settings_dropdown"></div>
            </div>
          </div>

         <div class="form-group row">
            <label class="col-sm-2 form-control-label">Area Coach</label>
            <div class="col-sm-5">
              <div ng-dropdown-multiselect="" options="coachData" selected-model="coachModel" extra-settings="settings_dropdown"></div>
            </div>
          </div>

        <div class='form group row'>
            <label class="col-sm-2 form-control-label">GPA</label>
            <rzslider class='col-sm-5' rz-slider-model="gpaSlider.minValue" rz-slider-high="gpaSlider.maxValue" rz-slider-options="gpaSlider.options"></rzslider>
          </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">High School</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model='highSchool' placeholder="High School">
            </div>
          </div>

        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>



    </script>
</div>

</body>

</html>
