<div id="popoverWrapper">
  <div>{{zscoreExplanation}} </div>
  <div ng-if="twoZscores">
    <hr>
    <div> {{zscoreExplanation2}}</div>
  </div>
  <hr>
  <div>Here are some players with a similar score who committed to NU in the past.</div>
  <br>
  <div class="playerCard">
    <div class="status offered"></div>
    <div class="avatar" style="background-image: url('../img/alviti.jpg');"></div>
    <div class="player-info-outer">
      <div class="player-info-inner">
        <div class="player-info-name">Matt Alviti</div>
        <div class="player-info-stats">QB - 6'0" 200lbs</div>
        <div class="player-info-coach">Park Ridge, IL - PF</div>
      </div>
    </div>
    <div class="zscore-wrapper">
      <div class="zscore-flex" ng-class="zscoreColor(9.2)">9.2</div>
    </div>
  </div>
</div>